<div class="relative p-2 w-screen md:w-full shadow-sm rounded-lg bg-blue">
    <div class="p-5 lg:px-5 bg-blue rounded-lg shadow-lg flex justify-between items-center">
        <h2 class="absolute text-sm md:text-base lg:text-xl text-lightblue font-medium">Registered Events</h2>
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative mt-1 ms-32 md:ms-36 lg:ms-48">
            <div class="absolute inset-y-0 rtl:inset-x-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-white text-opacity-70" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <input type="text" [(ngModel)]="filter"
                class="block p-2 ps-10 text-sm text-white text-opacity-70 rounded-lg w-40 sm:w-56 lg:w-80 bg-lightblue focus:ring-grey focus:ring-opacity-50 focus:ring-2 focus:outline-none"
                [placeholder]="filter === 'All' ? 'Showing all events' : 'Search for events'">
        </div>
    </div>

    <div class="overflow-x-auto w-full">
        <table class="text-white text-sm text-left rtl:text-right w-full">
            <thead class="text-xs md:text-base lg:text-lg text-gray-700 uppercase shadow-lg rounded-lg">
                <tr>
                    <th scope="col" class="font-medium px-1 py-2">Event Name</th>
                    <th scope="col" class="font-medium px-0 py-2">Open/Closed</th>
                    <th scope="col" class="font-medium px-0 py-2">Venue</th>
                    <th scope="col" class="font-medium px-0 py-2">Map</th>
                </tr>
            </thead>
            <tbody class="w-full">
                <ng-container *ngFor="let data of filteredData; let i = index">
                    <tr [ngClass]="{ 'bg-lightblue bg-opacity-25': i % 2 === 1, 'bg-blue': i % 2 === 0 }"
                        class="w-full text-white text-xs md:text-base lg:text-lg hover:bg-lightblue border-b border-y-gray border-opacity-50">
                        <td class="px-1 py-2 rounded-s-xl">{{ data.eventName }}</td>
                        <td *ngIf="data.Status === 'Open'" class="px-0 py-2">
                            <div class="bg-[#07660A] rounded-xl w-[70px] h-[30px] flex justify-center items-center">
                                {{ data.Status }}
                            </div>
                            <span>Time - {{ data.time }}</span>
                        </td>
                        <td *ngIf="data.Status !== 'Open'" class="px-0 py-2">
                            <div class="bg-red rounded-xl w-[70px] h-[30px] flex justify-center items-center">
                                {{ data.Status }}
                            </div>
                        </td>
                        <td class="px-0 py-2">{{ data.venue }}</td>
                        <td *ngIf="data.Map!==''" class="px-0 py-2 rounded-e-xl cursor-pointer w-10 h-10" (click)="showMap(data.Map)">
                            <img src="map.png" alt="map">
                        </td>
                        <td *ngIf="data.Map===''" class="px-0 py-2 rounded-e-xl w-10 h-10">
                            <img class="filter grayscale" src="map.png" alt="map">
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

</div>